html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header {
    display: grid;
    grid-template-areas:
    "nav",
    "content";
    background-image: linear-gradient(#FDC5F7, #8EAEFF);
}

h1 {
    font-family: "Exo 2";
}

#haven {
    grid-area: nav;

}

#logo {
    grid-area: nav;
    width: 40px;
    height: 30px;
}

header ul {
    grid-area: nav;
    float: right;
}

header li {
    grid-area: nav;
    display: inline-block;
    padding: 0px 20px;
    font-family: "Fira Sans Condensed";
    font-size: 20px;
}

#valueProp {
    float: left;
}

h2 {
    font-family: "Fira Sans Condensed";
    font-size: 25px;
}

/*This moved everything up??*/

* {
    margin: 0;
    padding: 0;
  }

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  }

#downloadButtons {

}
  
#apple {

}

#google {
    
}

h3 {
    font-family: "Exo 2";
    font-size: 35px;
}

/*probably need to edit this*/

#appPics {
    display: inline-block;
}

#missionStatement {
    float: center;
}

p {
    font-family: "Fira Sans Condensed";
    font-size: 20px;
}

.sectionBar {
    width:1000px;
    height: 30px;
    background-image: linear-gradient(#FDC5F7, #8EAEFF);
}

h4 {
    font-family: "Fira Sans Condensed";
    font-size: 30px;
}

#pics {
    display: inline-block;
    max-width: 150px;
    max-height: 100px;
}

h5 {
    font-family: "Fira Sans Condensed";
    font-size: 40px;
}

h6 {
    font-family: "Fira Sans Condensed";
    font-size: 20px;
}

footer {
    background-image: linear-gradient(#FDC5F7, #8EAEFF) !important;
}

.leftContent {
    float: left;
}

h7 {
    font-family: "Fira Sans Condensed";
    font-size: 20px;
}

h8 {
    font-family: "Fira Sans Condensed";
    font-size: 15px;
}

#messageBox {
    font-family: "Fira Sans Condensed";
    color: gray;
}

#sendButton {
    background-color: white;
    font-family: "Fira Sans Condensed";
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border-color: gray;
    border-width: 5px;
}