html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header {
    background-image: linear-gradient(#FDC5F7, #8EAEFF);
}

.nav {

}

h1 {
    font-family: "Exo 2";
    font-size: 50px;
}

#haven {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

#logo {
    width: 55px;
    height: 40px;
    padding-top: 10px;
}

header ul {
    float: right;
    margin-top: -32px;
}

header li {
    display: inline-block;
    padding: 0px 38px;
    font-family: "Fira Sans Condensed";
    font-size: 25px;
}

#valueProp {
    width: 50%;
}

h2 {
    font-family: "Fira Sans Condensed";
    font-size: 25px;
}

* {
    margin: 0;
    padding: 0;
  }

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  }

.jumbotron {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#downloadButtons {
    display: flex;
    flex-direction: row;
    padding-left: 150px;
}
  
#appleBadge {
    width: 220px;
    height: 73px;
}

#googleBadge {
    width: 250px;
    height: 100px;
}

h3 {
    font-family: "Exo 2";
    font-size: 35px;
}

#havenTitle {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#appPics {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#havenPics {
    width: 200px;
    height: 400px;
    border-radius: 45px;
    padding: 15px;
    margin-left: 15px;
}

#missionStatement {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-left: 17%;
    margin-right: 17%;
    max-width: 750px;
}

p {
    font-family: "Fira Sans Condensed";
    font-size: 20px;
}

.sectionBar {
    width:100%;
    height: 80px;
    background-image: linear-gradient(#FDC5F7, #8EAEFF);
}

.featureTitle {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-icons {
    color: #8093F1;
    padding-left: 20px;
    padding-right: 20px;
}

h4 {
    font-family: "Fira Sans Condensed";
    font-size: 25px;
}

.fContent {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "chatTitle mentorsTitle"
    "chatPicsection mentorsPicsection"
    "chatContent mentorsContent";
}

#chatTitle {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: chatTitle;
}

#mentorsTitle {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: mentorsTitle;
}

#chatPicsection {
    display: flex;
    grid-area: chatPicsection;
    justify-content: center;
    align-items: center;
}

#mentorsPicsection {
    display: flex;
    grid-area: mentorsPicsection;
    justify-content: center;
    align-items: center;
}

#chatContent {
    padding: 20px;
    margin-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 400px;
    grid-area: chatContent;
}

#mentorsContent {
    padding: 20px;
    margin-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 400px;
    grid-area: mentorsContent;
}

#chatPic {
    width: 400px;
    height: 300px;
}

#mentorsPic {
    width: 400px;
    height: 300px;
}

.picsAndTitles {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ". aboutUSTitle ."
    "noemyPic emilyPic britneePic"
    "nName eName bName";
}

.aboutUsTitle {
    grid-area: aboutUsTitle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -300px;
}

#pics {
    grid-area: pics;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
}

#noemyPic {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: noemyPic;
}

#emilyPic {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: emilyPic;
}

#britneePic {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: britneePic;
}

#nName {
    text-align: center;
    grid-area: nName;
}

#eName {
    text-align: center;
    grid-area: eName;
}

#bName {
    text-align: center;
    grid-area: bName;
    margin-bottom: 50px;
}

h5 {
    font-family: "Fira Sans Condensed";
    font-size: 40px;
}

h6 {
    font-family: "Fira Sans Condensed";
    font-size: 20px;
}

footer {
    background-image: linear-gradient(#FDC5F7, #8EAEFF) !important;
}

.leftContent {
    float: left;
}

h7 {
    font-family: "Fira Sans Condensed";
    font-size: 20px;
}

h8 {
    font-family: "Fira Sans Condensed";
    font-size: 15px;
}

#messageBox {
    font-family: "Fira Sans Condensed";
    color: gray;
}

#sendButton {
    background-color: white;
    font-family: "Fira Sans Condensed";
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border-color: gray;
    border-width: 5px;
}